name: Build

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: cargo build --verbose --future-incompat-report
      - name: test
        run: cargo test --verbose --no-fail-fast --future-incompat-report

  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install target
        run: rustup target add wasm32-unknown-unknown
      - name: build
        run: cargo build --target wasm32-unknown-unknown --verbose --future-incompat-report
