name: Publish

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  verify:
    uses: ./.github/workflows/verify.yml
  publish-npm:
    needs: verify
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Install wasm-pack
        run: cargo install wasm-pack
      - name: Package
        run: wasm-pack build --target=web --scope=atzhukov
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@atzhukov'
      - name: Update npm
        run: npm install -g npm@latest
      - name: Publish to npm
        run: |
          cd pkg
          npm publish --provenance --access=public
