name: Verify

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-native:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: build
        run: cargo build --verbose --future-incompat-report
      - name: test
        run: cargo test --verbose --no-fail-fast --future-incompat-report
  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: install target
        run: rustup target add wasm32-unknown-unknown
      - name: build
        run: cargo build --target wasm32-unknown-unknown --verbose --future-incompat-report
